body{
  max-width: 7.5rem;
  font-size: 14px;
  margin: 0 auto !important;
}
img{
  border: none;
  display: block;
}
.head{
  width: 7.50rem;
  height: 14.96rem;;
  background: url(/statics/img/pages/2017/market/recruit/head.png) top center no-repeat;
  background-size: 100%;
}
.section{
  width: 7.50rem;
  height: 19.22rem;;
  background: url(/statics/img/pages/2017/market/recruit/section.png) top center no-repeat;
  background-size: 100%;
}
.footer{
  width: 7.50rem;
  height: 15.12rem;;
  background: url(/statics/img/pages/2017/market/recruit/footer.png) top center no-repeat;
  background-size: 100%;
}
