
body{
  max-width: 7.5rem;
  font-size: 14px;
  margin: 0 auto !important;
  background: url("//image.qbm360.com/activityStatics/img/pages/2018/market/app/bg.png") repeat #fff;
}
body * {
    max-width: 7.5rem;
}

*:not(input,textarea,select) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.hide{
  display: none;
}


.wrap{
  position: relative;
  .wx-tip{
    position: absolute;
    top: 0;
    left: 0;
  }
  .blockImg{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}