@import "../../../common/reset.scss";

body{
  max-width: 7.5rem;
  font-size: .14rem;
  margin: 0 auto;
  color: #505050;
  background-color: #de1a24;
}

.hide{
	display: none;
}

.imgBlock{
  width: 100%;
  height: auto;
}

.container{
  padding: .36rem;
  .exchange-record{
    padding-top: .53rem;
		padding-bottom: .3rem;
		color: #fff;
		.title{
			top: 0rem;
			left: 1.27rem;
			width: 4.25rem;
			height: .9rem;
			background: url("/statics/img/pages/2018/worldCup/exchange-record-title.png") top no-repeat;
			background-size: 4.25rem .9rem;
		}
    .more{
			width: 1.24rem;
			height: .92rem;
			line-height: .6rem;
			top: 0;
			right: 0;
			color: #fff;
			em{
				text-decoration: underline;
			}
		}
    .bd{
      background-color: #3847d5;
			border: .05rem solid #000;
			border-radius: .16rem;
			min-height: 5.8rem;
      padding: .33rem .46rem 0 .46rem;
      li{
        padding: .52rem 0 .3rem 0;
        border-bottom: 1px solid #000;
        font-size: .26rem;
        overflow: hidden;
        &.head{
          padding: .36rem 0 0 0;
          color: #ffd21f;
          font-size: .3rem;
          border-bottom: none;
        }
        &:last-child{
          border-bottom: none;
        }
        .time{
          width: 2.26rem;
        }
        .prize{
          width: 2.38rem;
        }
      }
    }

  }
}


.layui-m-layermain{
  .layer-tip{
    background: rgba(0,0,0,.6);
    font-size: .26rem;
    width: 5.8rem!important;
    //height: 7.2rem!important;
    color: #333;
    border-radius: .08rem;
    .layui-m-layercont{
      padding: .2rem 0;
    }
    .layermcont{
      height: .8rem!important;
      line-height: .8rem!important;
    }
  }
  .layer-tip-error{
    background: rgba(0,0,0,.6);
    font-size: .26rem;
    width: 5.8rem;
    height: .8rem;
    color: #fff;
    border-radius: .08rem;
    .layermcont{
      height: .8rem;
      line-height: .8rem;
    }
  }
}
.laymshade{
  background-color: rgba(0,0,0,.6);
}
.layer-tip{
  background: rgba(0,0,0,0.6);
  color: #fff !important;
}
