@import "../../../common/reset.scss";

body{
  max-width: 7.5rem;
  font-size: .14rem;
  margin: 0 auto;
  color: #505050;
  background-color: #de1a24;
}

.hide{
	display: none;
}

.imgBlock{
  width: 100%;
  height: auto;
}

.container{
  padding: .6rem .36rem .36rem .36rem;
  .list-box{
    padding-top: .52rem;
    .title{
      top: 0;
			left: 1.26rem;
			width: 4.25rem;
			height: .94rem;
			background: url("/statics/img/pages/2018/worldCup/guessingRankings-title.png") top no-repeat;
			background-size: 4.25rem .94rem;
    }
    .bd{
      padding: .6rem;
      background-color: #3847d5;
			border: .05rem solid #000;
			border-radius: .16rem;
      min-height: 2rem;
      color: #fff;
      .data-time{
        display: inline-block;
        margin-left: .66rem;
        width: 4.22rem;
        height: .56rem;
        line-height: .56rem;
        background-color: #2232cb;
        border-radius: .1rem;
      }
      .list{
        li{
          height: .92rem;
          line-height: .92rem;
          font-size: .26rem;
          overflow: hidden;
          .no{
            width: .72rem;
          }
          .name{
            margin-left: .3rem;
            width: 1.16rem;
          }
          .phone{
            width: 2.1rem;
          }
          .coin{
            text-align: right;
          }
          .me{
      			background: url("/statics/img/pages/2018/worldCup/me.png")  center no-repeat;
      			background-size: .62rem .61rem;
          }
          .one{
      			background: url("/statics/img/pages/2018/worldCup/one.png")  center no-repeat;
      			background-size: .62rem .75rem;
          }
          .two{
      			background: url("/statics/img/pages/2018/worldCup/two.png")  center no-repeat;
      			background-size: .62rem .71rem;
          }
          .three{
      			background: url("/statics/img/pages/2018/worldCup/three.png")  center no-repeat;
      			background-size: .62rem .72rem;
          }
        }
        .head{
          font-size: .3rem;
          color: #ffd21f;
        }
        .line{
          border-bottom: 1px solid #000;
        }
        .nodata{
          padding: .5rem 0 .3rem 0;
          font-size: .28rem;
          overflow: hidden;
        }
      }
    }
  }
}


.layui-m-layermain{
  .layer-tip{
    background: rgba(0,0,0,.6);
    font-size: .26rem;
    width: 5.8rem!important;
    //height: 7.2rem!important;
    color: #333;
    border-radius: .08rem;
    .layui-m-layercont{
      padding: .2rem 0;
    }
    .layermcont{
      height: .8rem!important;
      line-height: .8rem!important;
    }
  }
  .layer-tip-error{
    background: rgba(0,0,0,.6);
    font-size: .26rem;
    width: 5.8rem;
    height: .8rem;
    color: #fff;
    border-radius: .08rem;
    .layermcont{
      height: .8rem;
      line-height: .8rem;
    }
  }
}
.laymshade{
  background-color: rgba(0,0,0,.6);
}
.layer-tip{
  background: rgba(0,0,0,0.6);
  color: #fff !important;
}
