<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<link rel="stylesheet" href="/statics/css/pages/2017/thirdAnnicersary/index.css">
	<script src="/statics/js/plugins/adaptive.min.js"></script>
	<script src="/statics/js/common/common.js"></script>
	<title>钱保姆三周年庆典</title>
</head>
<body class="pos-rel">
	<img src="/statics/img/pages/2017/thirdAnnicersary/index/banner.png" class="blockImg">
	<div class="pos-rel main">
		<div class="jiaxi-box pos-abs" id="goJiaXi">
			<img src="/statics/img/pages/2017/thirdAnnicersary/index/goBtn.png" class="pos-abs goBtn">
		</div>

		<div class="redpacket-box pos-abs" id="goRedpacket">
			<img src="/statics/img/pages/2017/thirdAnnicersary/index/goBtn.png" class="pos-abs goBtn">
		</div>

		<div class="qianggou-box pos-abs" id="goQiangGou">
			<img src="/statics/img/pages/2017/thirdAnnicersary/index/goBtn.png" class="pos-abs goBtn">
		</div>

		<div class="finLife-box pos-abs" id="goFinLife">
			<img src="/statics/img/pages/2017/thirdAnnicersary/index/goBtn.png" class="pos-abs goBtn">
		</div>

		<div class="jiqiandou-box pos-abs" id="goJiQianDou">
			<img src="/statics/img/pages/2017/thirdAnnicersary/index/receiveBtn.png" class="pos-abs receiveBtn">
		</div>

	</div>
	<div class="footer">
		<div class="box hide" id="videoBox">
			<div class="box-bg">
				<!-- <video width="100%" height="100%" src="https://image.qbm360.com/activityStatics/qbm.mp4" controls="controls"></video> -->
				<iframe frameborder="0" width="100%" height="100%" src="https://v.qq.com/iframe/player.html?vid=p0556f7vj0g&tiny=0&auto=0" allowfullscreen></iframe>
				<!-- <iframe width="100%" height="100%" src='http://player.youku.com/embed/XMzA1NTQ4MDMwMA==' frameborder=0 'allowfullscreen'></iframe> -->
			</div>
		</div>
		<div class="text-center"><img src="/statics/img/pages/2017/thirdAnnicersary/index/btn.png" class="footer-btn" id="footerBtn"></div>
	</div>

	<!-- <span class="share shareBtn hide" id="shareBtn"></span> -->

	<script src="/statics/js/plugins/sea.js"></script>
	<script src="/statics/js/plugins/seajs-css.js"></script>
	<script src="/statics/js/common/sea-config.js"></script>
	<script>
		seajs.use("/statics/js/pages/2017/thirdAnnicersary/index.js");
	</script>
</body>
</html>
