<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<link rel="stylesheet" href="/statics/css/pages/2017/thirdAnnicersary/jiaxi.css">
	<script src="/statics/js/plugins/adaptive.min.js"></script>
	<script src="/statics/js/common/common.js"></script>
	<title>加息三天乐</title>
</head>
<body>
	<div class="wrap">
		<img src="/statics/img/pages/2017/thirdAnnicersary/jiaxi/all.png" class="blockImg">
		<div class="pos-rel wyb">
			<img src="/statics/img/pages/2017/thirdAnnicersary/jiaxi/wybBtn.png" class="pos-abs buy" id="goFinancing">
		</div>
		<p class="text-center tip">温馨提醒：加息标的购买后不可转让哦！</p>
		<div class="text-center"><img src="/statics/img/pages/2017/thirdAnnicersary/jiaxi/btn.png" class="backBtn" id="backBtn"></div>
	</div>

	<script src="/statics/js/plugins/sea.js"></script>
	<script src="/statics/js/plugins/seajs-css.js"></script>
	<script src="/statics/js/common/sea-config.js"></script>
	<script>
		seajs.use("/statics/js/pages/2017/thirdAnnicersary/jiaxi.js");
	</script>
</body>
</html>
