<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<link rel="stylesheet" href="/statics/css/common/reset.css">
	<link rel="stylesheet" href="/statics/css/pages/2018/vipEquityIntroduce/index.css">
	<script src="/statics/js/plugins/adaptive.min.js"></script>
	<script src="/statics/js/common/common.js"></script>
	<title>会员权益介绍</title>
</head>

<body>
	<marquee class="marquee" id="marquee" loop=-1 scrollamount=4></marquee>
	<div class="container">
		<div class="box1">
			<img src="/statics/img/pages/2018/vipEquityIntroduce/bg1.png" alt="">
			<button id="btn1"></button>
			<button id="btn2"></button>
			<button id="btn3"></button>
			<button id="btn4"></button>
		</div>

		<img src="/statics/img/pages/2018/vipEquityIntroduce/bg3.png" alt="">
		<img src="/statics/img/pages/2018/vipEquityIntroduce/bg4.png" id="equity1" alt="">
		<img src="/statics/img/pages/2018/vipEquityIntroduce/bg5.png" id="equity2" alt="">
		<img src="/statics/img/pages/2018/vipEquityIntroduce/bg6.png" id="equity3" alt="">
		<img src="/statics/img/pages/2018/vipEquityIntroduce/bg7.png" id="equity4" alt="">
		<img src="/statics/img/pages/2018/vipEquityIntroduce/bg8.png" alt="">
		<button id="goVip"></button>
		<p class="tip">钱保姆保留对本次活动在法律允许范围内的解释权</p>
	</div>
	<script src="/statics/js/plugins/sea.js"></script>
	<script src="/statics/js/plugins/seajs-css.js"></script>
	<script src="/statics/js/common/sea-config.js"></script>
	<script>
		seajs.use("/statics/js/pages/2018/vipEquityIntroduce/index.js");
	</script>
</body>

</html>
