<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<link rel="stylesheet" href="/statics/css/pages/2017/finLife/intro.css">
	<script src="/statics/js/plugins/adaptive.min.js"></script>
	<script src="/statics/js/common/common.js"></script>
	<title>乐享生活圈攻略</title>
</head>
<body>
	<div class="wrap">
		<img src="/statics/img/pages/2017/finLife/intro/1.png" class="blockImg mt30">
		<img src="/statics/img/pages/2017/finLife/intro/2.png" class="blockImg mt30">
		<img src="/statics/img/pages/2017/finLife/intro/3.png" class="blockImg mt30">
		<img src="/statics/img/pages/2017/finLife/intro/4.png" class="blockImg">
		<img src="/statics/img/pages/2017/finLife/intro/5.png" class="blockImg">
		<img src="/statics/img/pages/2017/finLife/intro/6.png" class="blockImg mt30">
		<p class="text-center">市场有风险，投资需谨慎</p>
	</div>
	<div class="bar">
		<img src="/statics/img/pages/2017/finLife/intro/qbm.png" class="fn-fl logo" />
		<img src="/statics/img/pages/2017/finLife/intro/downBtn.png" class="fn-fr btn" id="btn" />
	</div>
	<script type="text/javascript">
		var btn=document.getElementById('btn');
		btn.addEventListener('click',function(){
			location.href = 'https://www.qbm360.com/applink.html';
		},false)
	</script>
</body>
</html>
