<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>购买完成</title>
  <link rel="stylesheet" href="/statics/css/pages/2017/holiday2/buyComplete.css">
  <script src="/statics/js/plugins/adaptive.min.js"></script>
  <script src="/statics/js/common/common.js"></script>
  <link rel="stylesheet" href="/statics/css/common/reset.css">
</head>
<body>
  <!-- 购买详情 -->
  <div class="mark-details">
    <div class="shopping"><p class="biaotitle">购买假日供应链A00001项目成功!</p></div>
    <div class="shopMon"><div class="divMon divMon1">购买金额:</div><div class="divMon divMon2"><span class="originColor money"></span>元</div></div>
    <div class="shopMon"><div class="divMon divMon1 ">含红包:</div><div class="divMon divMon2"><span class="originColor redBag"></span>元</div></div>
    <div class="shopMon"><div class="divMon divMon1">预计收益:</div><div class="divMon divMon2"><span class="originColor profit"></span>元</div></div>
  </div>
  <!-- 按钮 -->
  <div class="btn">
    <span class="goUserCenter fn-fl">查看账户</span>
    <span class="backBtn fn-fr">返回假日宝首页</span>
  </div>
  <!-- 礼盒 -->
  <div class="gift hide">
    <div class="gift-box">
      <div class="gift-item gift-silver ">
        <img class= "imgWidth2" src="/statics/img/pages/2017/holiday2/silver-close.png"/>
        <div class="gift-name">白银礼盒</div>
        <div class="gift-text gift-text1 btn-disabled " type="0">查看奖品</div>
      </div>
      <div class="gift-item gift-gold">
        <img class= "imgWidth2" src="/statics/img/pages/2017/holiday2/gold-close.png"/>
        <div class="gift-name">黄金礼盒</div>
        <div class="gift-text gift-text2 btn-disabled" type="2">查看奖品</div>
      </div>
      <div class="gift-item gift-Diamonds ">
        <img class= "imgWidth1" src="/statics/img/pages/2017/holiday2/diamonds-open.png"/>
        <div class="gift-name">钻石礼盒</div>
        <div class="gift-text gift-text3 btn-disabled" type="1">查看奖品</div>
      </div>
    </div>
    <div class="arrow">
      <div class="arrow1"></div>
    </div>
    <div class="gift-list">
      <p>需要使用<span class="holiday-bi">10个假日币</span>开启礼盒，随机抽取以下奖品：</p>
      <div class="gift-lists gift-lists1 hide">
        <div class="gift-list-item">
          <img class= "list-img" src="/statics/img/pages/2017/holiday2/red2.png"/>
          <div class="gift-name">2元红包</div>
        </div>
        <div class="gift-list-item">
          <img class= "list-img" src="/statics/img/pages/2017/holiday2/red5.png"/>
          <div class="gift-name">5元红包</div>
        </div>
        <div class="gift-list-item">
          <img class= "list-img" src="/statics/img/pages/2017/holiday2/lxx.png"/>
          <div class="gift-name">小米旅行箱</div>
        </div>
      </div>

      <div class="gift-lists gift-lists2 hide">
        <div class="gift-list-item">
          <img class= "list-img" src="/statics/img/pages/2017/holiday2/red10.png"/>
          <div class="gift-name">10元红包</div>
        </div>
        <div class="gift-list-item">
          <img class= "list-img" src="/statics/img/pages/2017/holiday2/red20.png"/>
          <div class="gift-name">20元红包</div>
        </div>
        <div class="gift-list-item">
          <img class= "list-img" src="/statics/img/pages/2017/holiday2/phc.png"/>
          <div class="gift-name">小米平衡车</div>
        </div>
      </div>

      <div class="gift-lists gift-lists3">
        <div class="gift-list-item">
          <img class= "list-img" src="/statics/img/pages/2017/holiday2/red30.png"/>
          <div class="gift-name">30元红包</div>
        </div>
        <div class="gift-list-item">
          <img class= "list-img" src="/statics/img/pages/2017/holiday2/red50.png"/>
          <div class="gift-name">50元红包</div>
        </div>
        <div class="gift-list-item">
          <img class= "list-img" src="/statics/img/pages/2017/holiday2/iphone.png"/>
          <div class="gift-name">iPhone8</div>
        </div>
      </div>
    </div>
  </div>

  <script src="/statics/js/plugins/sea.js"></script>
  <script src="/statics/js/plugins/seajs-css.js"></script>
  <script src="/statics/js/common/sea-config.js"></script>
  <script>
    seajs.use("/statics/js/pages/2017/holiday2/buyComplete.js?v=${ver}");
  </script>
</body>
</html>
