<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>钱保姆</title>
  <link rel="stylesheet" href="/statics/css/pages/2017/holiday2/rule.css">
  <link rel="stylesheet" href="/statics/css/common/reset.css">
  <script src="/statics/js/plugins/adaptive.min.js"></script>
  <script src="/statics/js/common/common.js"></script>
</head>
<body class="pos-rel">
  <div class="rule">

  </div>
  <p class="pos-abs tip text-center">*钱保姆保留对本次活动在法律允许范围内的解释权</p>

  <script src="/statics/js/plugins/sea.js"></script>
  <script src="/statics/js/plugins/seajs-css.js"></script>
  <script src="/statics/js/common/sea-config.js"></script>
  <script>
    seajs.use("/statics/js/pages/2017/holiday2/rule.js");
  </script>
</body>
</html>
