<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<link rel="stylesheet" href="/statics/css/common/reset.css">
	<link rel="stylesheet" href="/statics/css/pages/2017/brandZeroBuy/index.css">
	<script src="/statics/js/plugins/adaptive.min.js"></script>
	<script src="/statics/js/common/common.js"></script>
	<title>乐享生活圈，尖货盛典</title>
</head>

<body>
	<div class="container" style="">
		<div class="top">
			<img src="/statics/img/pages/2017/brandZeroBuy/top.jpg" alt="">
			<a href="#rules">
				<img src="/statics/img/pages/2017/brandZeroBuy/rules.png" alt="">
			</a>
		</div>
		<div class="phoneBox">
			<div class="info">
				<p>乐享生活圈返现券</p>
				<p>首笔购买金额 * 1% 返现红包</p>
				<p>有效期：9.28 - 10.13</p>
			</div>
			<img src="/statics/img/pages/2017/brandZeroBuy/2.png" alt="">
			<input type="tel" placeholder="输入您的手机号" maxlength="11" id="phone">
			<button id="btn">立即领取返现券</button>
		</div>
		<img src="/statics/img/pages/2017/brandZeroBuy/3.png" alt="">
		<img src="/statics/img/pages/2017/brandZeroBuy/4.png" alt="">
		<div class="rules" id="rules">
			<p class="title">—————— 活动规则 ——————</p>
			<p>1.活动时间：2017年9月28日—2017年10月13日</p>
			<p>2.活动期间，首次投资钱保姆乐享生活圈任一标的（赠送爆款的标的除外），即可获首笔购买金额*1%的红包返现：投资1000元返10元，投资10000元返100元，上不封顶；红包将在购买成功后3个工作日内发放，9月30日-10月8日的返现红包统一节后发放。</p>
			<p>3.首次注册钱保姆账户，还可再得888元新手理财红包；</p>
			<p>4.本活动可与钱保姆其他活动奖励共享；</p>
			<p>5.如有疑问，请联系客服： 400-006-7066；</p>
			<p>6.钱保姆保留对本次活动在法律允许范围内的最终解释权。</p>
		</div>
	</div>
	<script src="/statics/js/plugins/sea.js"></script>
	<script src="/statics/js/plugins/seajs-css.js"></script>
	<script src="/statics/js/common/sea-config.js"></script>
	<script>
		seajs.use("/statics/js/pages/2017/brandZeroBuy/index.js");
	</script>
	
</body>
</html>
