
@import "../../../../common/reset.scss";

body{
  max-width: 7.5rem;
  font-size: 14px;
  margin: 0 auto !important;
  background: url("/statics/img/pages/2018/market/redPacket/rule-bg.png") top center #b4093b no-repeat;
  background-size: 7.5rem 12rem;
}
body * {
    max-width: 7.5rem;
}


.wrap{
	padding: .4rem;
	.rule{
		background-color: #fff;
		padding: .3rem;
		color: #333;
		border-radius: .2rem;
		line-height: .3rem;
		p{
			padding-bottom: .3rem;
		}
		p:last-child{
			padding: 0;
		}
	}
}