<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<link rel="stylesheet" href="/statics/css/pages/2017/shuangdan/index.css">
	<script src="/statics/js/plugins/adaptive.min.js"></script>
	<script src="/statics/js/common/common.js"></script>
	<title>双蛋活动</title>	
</head>

<body>
	<div class="container" style="">
		<div class="top">
			<div class="rules"></div>
			<div class="danBox">
				<img src="/statics/img/pages/2017/shuangdan/chui.png" alt="" class="chui">
				<div class="dan _lotteryBtn">
					<img src="/statics/img/pages/2017/shuangdan/dan.png" alt="">
					<p class="_text">
						200活动金<br>
						可以砸一次哦！
					</p>
				</div>
				<div class="_pop" data-num='1'>
					每日分享<br>
					免费砸一次哦！
				</div>
				<img src="/statics/img/pages/2017/shuangdan/dan2.png" alt="" class="dansui">
				<audio controls id="_audio">
					<!-- <source src="/statics/img/pages/2017/shuangdan/dansui.mp3" type="audio/mp3" /> -->
					Your browser does not support the audio tag.
				</audio>
			</div>
			<div class="myMoney">
				<p>我的活动金：<span>0</span>元</p>
			</div>
		</div>
		<div class="prizetitle">
			<img src="/statics/img/pages/2017/shuangdan/prizeTitle.png" alt="">
		</div>
		<div class="prizeList">
			<ul>
				<div>
					<li class="_prize">
						<div class="_imgbox"><img src="/statics/img/pages/2017/shuangdan/iPhone.png" alt=""></div>
						<div class="_text">iPhone 8<br />256G</div>
					</li>
					<li class="_prize">
						<div class="_imgbox jin"><img src="/statics/img/pages/2017/shuangdan/jintiao.png" alt=""><span>20g</span></div>
						<div class="_text">中国黄金投资<br />金条20g</div>
					</li>
					<li class="_prize">
						<div class="_imgbox jin"><img src="/statics/img/pages/2017/shuangdan/jintiao.png" alt=""><span>10g</span></div>
						<div class="_text">中国黄金投资<br />金条10g</div>
					</li>
					<li class="_prize">
						<div class="_imgbox jin"><img src="/statics/img/pages/2017/shuangdan/jintiao.png" alt=""><span>5g</span></div>
						<div class="_text">中国黄金投资<br />金条5g</div>
					</li>
					<li class="_prize">
						<div class="_imgbox jin"><img src="/statics/img/pages/2017/shuangdan/jintiao.png" alt=""><span>2g</span></div>
						<div class="_text">中国黄金投资<br />金条2g</div>
					</li>
					<li class="_prize">
						<div class="_imgbox"><img src="/statics/img/pages/2017/shuangdan/youka.png" alt=""></div>
						<div class="_text">100元油卡</div>
					</li>
					<li class="_prize">
						<div class="_imgbox"><img src="/statics/img/pages/2017/shuangdan/rp_30.png" alt=""></div>
						<div class="_text">30元<br />无门槛红包</div>
					</li>
					<li class="_prize">
						<div class="_imgbox"><img src="/statics/img/pages/2017/shuangdan/rp_5.png" alt=""></div>
						<div class="_text">5元<br />无门槛红包</div>
					</li>
					<li class="_prize">
						<div class="_imgbox"><img src="/statics/img/pages/2017/shuangdan/rp_2.png" alt=""></div>
						<div class="_text">2元<br />无门槛红包</div>
					</li>
					<li class="_prize">
						<div class="_imgbox"><img src="/statics/img/pages/2017/shuangdan/100.png" alt=""></div>
						<div class="_text">100活动金</div>
					</li>
				</div>
				
			</ul>
		</div>
		<div class="exchangeTop"></div>
		<div class="exchangeBox">
			<ul>
				<li>
					<p>
						<span><img src="/statics/img/pages/2017/shuangdan/exchange1.png"></span>
						<i>500000活动金</i>
					</p>
					<button class="exchangeBtn exchangeAward" data-index='1' data-num="500000"></button>
				</li>
				<li>
					<p>
						<span><img src="/statics/img/pages/2017/shuangdan/exchange2.png"></span>
						<i>400000活动金</i>
					</p>
					<button class="exchangeBtn exchangeAward" data-index='2' data-num="400000"></button>
				</li>
				<li>
					<p>
						<span><img src="/statics/img/pages/2017/shuangdan/exchange3.png"></span>
						<i>200000活动金</i>
					</p>
					<button class="exchangeBtn exchangeAward" data-index='3' data-num="200000"></button>
				</li>
				<li>
					<p>
						<span><img src="/statics/img/pages/2017/shuangdan/exchange4.png"></span>
						<i>100000活动金</i>
					</p>
					<button class="exchangeBtn exchangeAward" data-index='4' data-num="100000"></button>
				</li>
				<li>
					<p>
						<span><img src="/statics/img/pages/2017/shuangdan/exchange5.png"></span>
						<i>40000活动金</i>
					</p>
					<button class="exchangeBtn exchangeAward" data-index='5' data-num="40000"></button>
				</li>
				<li>
					<p>
						<span><img src="/statics/img/pages/2017/shuangdan/exchange6.png"></span>
						<i>8000活动金</i>
					</p>
					<button class="exchangeBtn exchangeAward" data-index='6' data-num="8000"></button>
				</li>
				<li>
					<p>
						<span><img src="/statics/img/pages/2017/shuangdan/exchange7.png"></span>
						<i>2500活动金</i>
					</p>
					<button class="exchangeBtn exchangeAward" data-index='7' data-num="2500"></button>
				</li>
				<li>
					<p>
						<span><img src="/statics/img/pages/2017/shuangdan/exchange8.png"></span>
						<i>500活动金</i>
					</p>
					<button class="exchangeBtn exchangeAward" data-index='8' data-num="500"></button>
				</li>
			</ul>
		</div>
		
		<div class="btnBox">
			<button class="prizes"></button>
		</div>
	</div>
	<script src="/statics/js/plugins/sea.js"></script>
	<script src="/statics/js/plugins/seajs-css.js"></script>
	<script src="/statics/js/common/sea-config.js"></script>
	<script>
		seajs.use("/statics/js/pages/2017/shuangdan/index.js");
	</script>
	<!-- S 站长统计 -->
	<!-- ${httpInclude.include("/page-count.html")} -->
	<!-- E 站长统计 -->
</body>

</html>