<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>我的奖品</title>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<link rel="stylesheet" href="/statics/css/pages/2017/shuangdan/prize.css">
	<script src="/statics/js/plugins/adaptive.min.js"></script>
	<script src="/statics/js/common/common.js"></script>
</head>

<body>
	<div class="content">
		<div class="top"></div>
		<div class="box">
			<!-- <div class="item">
				<span>iPhone8 256G</span><span>2017.11.08</span>
			</div>
			<div class="item">
				<span>iPhone8 256G</span><span>2017.11.08</span>
			</div>
			<div class="item">
				<span>iPhone8 256G</span><span>2017.11.08</span>
			</div> -->
		</div>
		<div class="bottom"></div>
	</div>
</body>
<script src="/statics/js/plugins/sea.js"></script>
<script src="/statics/js/plugins/seajs-css.js"></script>
<script src="/statics/js/common/sea-config.js"></script>
<script>
seajs.use("/statics/js/pages/2017/shuangdan/prize.js");
</script>

</html>