<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>活动规则</title>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<link rel="stylesheet" href="/statics/css/pages/2017/shuangdan/rules.css">
	<script src="/statics/js/plugins/adaptive.min.js"></script>
	<script src="/statics/js/common/common.js"></script>
</head>

<body>
	<div class="content">
		<div class="box">
			<p>1.活动期间购买标的不可转让，转让标、假日宝、活动项目（含尊享版项目）、理财生活圈项目不参与本活动；</p>
			<p>2.每天分享活动至朋友圈可获得1次免费砸金蛋机会；</p>
			<p>3.投资成功后都将以年化投资额，1:1自动计入活动金额，您可选择兑换或者砸蛋，活动金 = 投资金额 * 投资期限(月) / 12或者投资金额*投资期限(天) / 365；</p>
			<p>4.实物奖品将在活动结束后20个工作日内发放，获奖者请及时填写收货地址等相关信息，自活动结束后3日内无法取得联系视为自动放弃；</p>
			<p>5.本活动采用最新实时数据监控系统，如发现任何恶意刷奖行为，将在48小时内予以警告，若系统再次检测到恶意刷奖行为将自动取消活动资格及奖励；</p>
			<p>6.本活动所有奖品由钱保姆提供，与设备生产商Apple Inc.无关；</p>
			<p>7.钱保姆保留对本次活动在法律允许范围内的解释。</p>
		</div>
	</div>
</body>
<script src="/statics/js/plugins/sea.js"></script>
<script src="/statics/js/plugins/seajs-css.js"></script>
<script src="/statics/js/common/sea-config.js"></script>
<script>
seajs.use("/statics/js/pages/2017/shuangdan/rules.js");
</script>

</html>