body{
	background: #ddd;
	font-size: 14px;
}

.container {
	position: relative;
	max-width: 7.5rem;
	margin: 0 auto;
	margin-top: -0.06rem;
	min-height: 22rem;
	background: #340a94;
	padding-bottom: 1.0rem;
	img {
		display: block;
		width: 7.5rem;
	}
	.box1 {
		position: relative;
		button {
			position: absolute;
			width: 3.44rem;
			height: 1.7rem;
			padding: 0;
			border: none;
		}
		#btn1 {
			left: 0.2rem;
			bottom: 3.46rem;
			background: url(/statics/img/pages/2018/vipEquityIntroduce/btn1.png) no-repeat top;
			background-size: 100% 100%;
		}

		#btn2 {
			right: 0.2rem;
			bottom: 3.46rem;
			background: url(/statics/img/pages/2018/vipEquityIntroduce/btn2.png) no-repeat top;
			background-size: 100% 100%;
		}

		#btn3 {
			left: 0.2rem;
			bottom: 1.56rem;
			background: url(/statics/img/pages/2018/vipEquityIntroduce/btn3.png) no-repeat top;
			background-size: 100% 100%;
		}

		#btn4 {
			right: 0.2rem;
			bottom: 1.56rem;
			background: url(/statics/img/pages/2018/vipEquityIntroduce/btn4.png) no-repeat top;
			background-size: 100% 100%;
		}
	}
	.box2 {
		position: relative;
		button {
			position: absolute;
			width: 3.44rem;
			height: 1.7rem;
			padding: 0;
			border: none;
		}
		#btn1 {
			left: 0.2rem;
			bottom: 2.4rem;
			background: url(/statics/img/pages/2018/vipEquityIntroduce/btn1.png) no-repeat top;
			background-size: 100% 100%;
		}
		#btn2 {
			right: 0.2rem;
			bottom: 2.4rem;
			background: url(/statics/img/pages/2018/vipEquityIntroduce/btn2.png) no-repeat top;
			background-size: 100% 100%;
		}
		#btn3 {
			left: 0.2rem;
			bottom: 0.6rem;
			background: url(/statics/img/pages/2018/vipEquityIntroduce/btn3.png) no-repeat top;
			background-size: 100% 100%;
		}
		#btn4 {
			right: 0.2rem;
			bottom: 0.6rem;
			background: url(/statics/img/pages/2018/vipEquityIntroduce/btn4.png) no-repeat top;
			background-size: 100% 100%;
		}
	}
	.tip {
		width: 100%;
		padding-top: 50px;
		text-align: center;
		color: #fff;
	}
}
#goVip {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.87rem;
	padding: 0;
	border: 0;
	background: url(/statics/img/pages/2018/vipEquityIntroduce/vipBtn.png) no-repeat top;
	background-size: 100% 100%;
}
