<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>活动规则</title>
  <link rel="stylesheet" href="/statics/css/pages/2017/jiaribao/rule.css">
  <script src="/statics/js/plugins/adaptive.min.js"></script>
  <script src="/statics/js/common/common.js"></script>
</head>
<body>

  <div class="rule-box">
    <p>1.活动时间：2018.05.19-2018.05.20</p>
    <p>2.活动期间，假日宝全天加息1%，16:00、19:00加息2%限量抢。</p>
    <p>3.活动期间，当可兑换出借额达到指定额度，可直接领取大额红包。</p>
    <p>4.领取红包后，将减少红包相应的可兑换出借额，不重复计入获得下一个红包的可兑换出借额中。如：小宝在总出借额达到12W的时候领取了10W档的红包，后续小宝继续出借13W，那么小宝此时又能领取15W档的红包。</p>
    <p>5.假日宝项目不支持转让。</p>
  </div>
  <p class="text-center copyRight">*钱保姆保留对本次活动在法律允许范围内的解释权</p>

  <script src="/statics/js/plugins/sea.js"></script>
  <script src="/statics/js/plugins/seajs-css.js"></script>
  <script src="/statics/js/common/sea-config.js"></script>
  <script>
    seajs.use("/statics/js/pages/2017/jiaribao/rule.js");
  </script>
</body>
</html>
