<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<link rel="stylesheet" href="/statics/css/pages/2017/1212/draw.css">
	<script src="/statics/js/plugins/adaptive.min.js"></script>
	<script src="/statics/js/common/common.js"></script>
	<title>幸运大抽奖</title>	
</head>

<body>
	<div class="container" style="">
		<img src="/statics/img/pages/2017/1212/logo.png" class="logo" ="" alt="">
		<div class="lotteryBox" id="lottery">
			<div class="myDou">
				<p>0</p>
			</div>
			<ul>
				<li class="luck-unit award_1"><p><img src="/statics/img/pages/2017/1212/iphone.png" alt=" X"></p><span>iPhone8<i>(256G)</i></span>
					<img class="curPrize" src="/statics/img/pages/2017/1212/curBg.png" alt="" />
				</li>
				<li class="luck-unit award_2"><p><img src="/statics/img/pages/2017/1212/thanks.png" alt=" X"></p><span>谢谢参与</span>
					<img class="curPrize" src="/statics/img/pages/2017/1212/curBg.png" alt="" />
				</li>
				<li class="luck-unit award_3"><p><img src="/statics/img/pages/2017/1212/30yuan.png" alt=""></p><span>30元生活券</span>
					<img class="curPrize" src="/statics/img/pages/2017/1212/curBg.png" alt="" />
				</li>
				<li class="luck-unit award_4"><p><img src="/statics/img/pages/2017/1212/nars.png" alt=""></p><span>NARS哑光唇膏</span>
					<img class="curPrize" src="/statics/img/pages/2017/1212/curBg.png" alt="" />
				</li>
				<li class="luck-unit award_10"><p><img src="/statics/img/pages/2017/1212/redPecket.png" alt=""></p><span>10元红包</span>
					<img class="curPrize" src="/statics/img/pages/2017/1212/curBg.png" alt="" />
				</li>
				<li class="lotteryBtn _lotteryBtn"></li>
				<li class="luck-unit award_5"><p>
					<img src="/statics/img/pages/2017/1212/redPecket.png" alt=""></p><span>5元红包</span>
					<img class="curPrize" src="/statics/img/pages/2017/1212/curBg.png" alt="" />
				</li>
				<li class="luck-unit award_9"><p><img src="/statics/img/pages/2017/1212/dw.png" alt=""></p><span>DW女表</span><img class="curPrize" src="/statics/img/pages/2017/1212/curBg.png" alt="" /></li>
				<li class="luck-unit award_8"><p><img src="/statics/img/pages/2017/1212/50yuan.png" alt=""></p><span>50元生活券</span><img class="curPrize" src="/statics/img/pages/2017/1212/curBg.png" alt="" /></li>
				<li class="luck-unit award_7"><p><img src="/statics/img/pages/2017/1212/xiaomi.png" alt=""></p><span>小米运动手环2</span><img class="curPrize" src="/statics/img/pages/2017/1212/curBg.png" alt="" /></li>
				<li class="luck-unit award_6"><p><img src="/statics/img/pages/2017/1212/iris.png" alt=""></p><span>IRIS 空气净化器</span><img class="curPrize" src="/statics/img/pages/2017/1212/curBg.png" alt="" /></li>
			</ul>
		</div>
		<div class="btnBox prizes"></div>
	</div>
	<script src="/statics/js/plugins/sea.js"></script>
	<script src="/statics/js/plugins/seajs-css.js"></script>
	<script src="/statics/js/common/sea-config.js"></script>
	<script>
		seajs.use("/statics/js/pages/2017/1212/draw.js");
	</script>
</body>
</html>