<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>钱保姆</title>
  <link rel="stylesheet" href="/statics/css/pages/2017/1212/index.css">
  <script src="/statics/js/plugins/adaptive.min.js"></script>
  <script src="/statics/js/common/common.js"></script>
</head>
<body class="pos-rel">
  
  <div class="coupons-wrap">
    <div class="ticket-list clearfix">
      <dl>
        <dt><img src="/statics/img/pages/2017/1212/10.png"></dt>
        <dd><img src="/statics/img/pages/2017/1212/receive-btn.png" class="receive-btn" data-type="1"></dd>
      </dl>
      <dl>
        <dt><img src="/statics/img/pages/2017/1212/20.png"></dt>
        <dd><img src="/statics/img/pages/2017/1212/receive-btn.png" class="receive-btn" data-type="2"></dd>
      </dl>
      <dl>
        <dt><img src="/statics/img/pages/2017/1212/40.png"></dt>
        <dd><img src="/statics/img/pages/2017/1212/receive-btn.png" class="receive-btn" data-type="3"></dd>
      </dl>
      <dl>
        <dt><img src="/statics/img/pages/2017/1212/80.png"></dt>
        <dd><img src="/statics/img/pages/2017/1212/receive-btn.png" class="receive-btn" data-type="4"></dd>
      </dl>
    </div>
    <div class="text-center free-goods">
      <img src="/statics/img/pages/2017/1212/free.png">
    </div>    
  </div>

  <div class="new-wrap">
    <div class="bd clearfix">
      <div class="tab pos-rel">
        <ul class="pos-abs" id="tab">
          <li class="active" data-type="1"><span>3千以下投资区</span></li>
          <li data-type="2"><span>3千-5千投资区</span></li>
          <li data-type="3"><span>5千-8千投资区</span></li>
          <li data-type="4"><span>8千-1万投资区</span></li>
          <li data-type="5"><span>1万以上投资区</span></li>
        </ul>
      </div>
      <ul class="goods-list" title="3千以下投资区">
        <li>
          <div class="fn-fl goods-img">
            <img src="/statics/img/pages/2017/1212/goods/179.jpg">
          </div>
          <div class="fn-fl goods-info">
            <h3 class="title">Spa Treatment 深层清洁卸妆膏</h3>
            <p class="market">市场价：￥229</p>
            <p class="price"><span class="live">存￥<em>2,000</em></span><span class="old">￥2,490</span></p>
          </div>
          <img src="/statics/img/pages/2017/1212/buy-btn.png" class="fn-fr buy-btn" data-id="179">
        </li>
        <li>
          <div class="fn-fl goods-img">
            <img src="/statics/img/pages/2017/1212/goods/155.jpg">
          </div>
          <div class="fn-fl goods-info">
            <h3 class="title">科颜氏男士活力洁面啫喱 250ml</h3>
            <p class="market">市场价：￥220</p>
            <p class="price"><span class="live">存￥<em>2,125</em></span><span class="old">￥2,625</span></p>
          </div>
          <img src="/statics/img/pages/2017/1212/buy-btn.png" class="fn-fr buy-btn" data-id="155">
        </li>
        <li>
          <div class="fn-fl goods-img">
            <img src="/statics/img/pages/2017/1212/goods/235.jpg">
          </div>
          <div class="fn-fl goods-info">
            <h3 class="title">JBL GO音乐金砖 无线蓝牙小音箱</h3>
            <p class="market">市场价：￥249</p>
            <p class="price"><span class="live">存￥<em>2,250</em></span><span class="old">￥2,750</span></p>
          </div>
          <img src="/statics/img/pages/2017/1212/buy-btn.png" class="fn-fr buy-btn" data-id="235">
        </li>
        <li>
          <div class="fn-fl goods-img">
            <img src="/statics/img/pages/2017/1212/goods/234.jpg">
          </div>
          <div class="fn-fl goods-info">
            <h3 class="title">日本IRIS家用静音空气清新加湿器</h3>
            <p class="market">市场价：￥198</p>
            <p class="price"><span class="live">存￥<em>1,875</em></span><span class="old">￥2,250</span></p>
          </div>
          <img src="/statics/img/pages/2017/1212/buy-btn.png" class="fn-fr buy-btn" data-id="234">
        </li>
      </ul>
      <ul class="goods-list hide" title="3千-5千投资区">
        <li>
          <div class="fn-fl goods-img">
            <img src="/statics/img/pages/2017/1212/goods/157.jpg">
          </div>
          <div class="fn-fl goods-info">
            <h3 class="title">科颜氏牛油果眼霜 28g</h3>
            <p class="market">市场价：￥500</p>
            <p class="price"><span class="live">存￥<em>4,625</em></span><span class="old">￥5,750</span></p>
          </div>
          <img src="/statics/img/pages/2017/1212/buy-btn.png" class="fn-fr buy-btn" data-id="157">
        </li>
        <li>
          <div class="fn-fl goods-img">
            <img src="/statics/img/pages/2017/1212/goods/171.jpg">
          </div>
          <div class="fn-fl goods-info">
            <h3 class="title">雪肌精保湿面霜40g</h3>
            <p class="market">市场价：￥420</p>
            <p class="price"><span class="live">存￥<em>3,250</em></span><span class="old">￥4,000</span></p>
          </div>
          <img src="/statics/img/pages/2017/1212/buy-btn.png" class="fn-fr buy-btn" data-id="171">
        </li>
        <li>
          <div class="fn-fl goods-img">
            <img src="/statics/img/pages/2017/1212/goods/149.jpg">
          </div>
          <div class="fn-fl goods-info">
            <h3 class="title">法国Fresh馥蕾诗 天然玫瑰润泽保湿补水面膜 100ml</h3>
            <p class="market">市场价：￥520</p>
            <p class="price"><span class="live">存￥<em>4,875</em></span><span class="old">￥6,125</span></p>
          </div>
          <img src="/statics/img/pages/2017/1212/buy-btn.png" class="fn-fr buy-btn" data-id="149">
        </li>
        <li>
          <div class="fn-fl goods-img">
            <img src="/statics/img/pages/2017/1212/goods/231.jpg">
          </div>
          <div class="fn-fl goods-info">
            <h3 class="title">博朗Satin Hair 7 负离子防静电电吹风机</h3>
            <p class="market">市场价：￥469</p>
            <p class="price"><span class="live">存￥<em>4,250</em></span><span class="old">￥5,250</span></p>
          </div>
          <img src="/statics/img/pages/2017/1212/buy-btn.png" class="fn-fr buy-btn" data-id="231">
        </li>
      </ul>
      <ul class="goods-list hide" title="5千-8千投资区">
        <li>
          <div class="fn-fl goods-img">
            <img src="/statics/img/pages/2017/1212/goods/181.jpg">
          </div>
          <div class="fn-fl goods-info">
            <h3 class="title">SpaTreatment暗黑瘦身水</h3>
            <p class="market">市场价：￥698</p>
            <p class="price"><span class="live">存￥<em>5,750</em></span><span class="old">￥7,125</span></p>
          </div>
          <img src="/statics/img/pages/2017/1212/buy-btn.png" class="fn-fr buy-btn" data-id="181">
        </li>
        <li>
          <div class="fn-fl goods-img">
            <img src="/statics/img/pages/2017/1212/goods/151.jpg">
          </div>
          <div class="fn-fl goods-info">
            <h3 class="title">爱马仕屋顶花园女士淡香水EDT 100ml</h3>
            <p class="market">市场价：￥959</p>
            <p class="price"><span class="live">存￥<em>7,000</em></span><span class="old">￥8,750</span></p>
          </div>
          <img src="/statics/img/pages/2017/1212/buy-btn.png" class="fn-fr buy-btn" data-id="151">
        </li>
        <li>
          <div class="fn-fl goods-img">
            <img src="/statics/img/pages/2017/1212/goods/154.jpg">
          </div>
          <div class="fn-fl goods-info">
            <h3 class="title">科颜氏集焕白淡斑精华液 50ml</h3>
            <p class="market">市场价：￥650</p>
            <p class="price"><span class="live">存￥<em>6,250</em></span><span class="old">￥7,875</span></p>
          </div>
          <img src="/statics/img/pages/2017/1212/buy-btn.png" class="fn-fr buy-btn" data-id="154">
        </li>
        <li>
          <div class="fn-fl goods-img">
            <img src="/statics/img/pages/2017/1212/goods/251.jpg">
          </div>
          <div class="fn-fl goods-info">
            <h3 class="title">日本IRIS衣物干燥机</h3>
            <p class="market">市场价：￥778</p>
            <p class="price"><span class="live">存￥<em>5,625</em></span><span class="old">￥7,000</span></p>
          </div>
          <img src="/statics/img/pages/2017/1212/buy-btn.png" class="fn-fr buy-btn" data-id="251">
        </li>
      </ul>
      <ul class="goods-list hide" title="8千-1万投资区">
        <li>
          <div class="fn-fl goods-img">
            <img src="/statics/img/pages/2017/1212/goods/241.jpg">
          </div>
          <div class="fn-fl goods-info">
            <h3 class="title">施华洛世奇玫瑰金色天鹅耳钉</h3>
            <p class="market">市场价：￥948</p>
            <p class="price"><span class="live">存￥<em>8,500</em></span><span class="old">￥10,625</span></p>
          </div>
          <img src="/statics/img/pages/2017/1212/buy-btn.png" class="fn-fr buy-btn" data-id="241">
        </li>
        <li>
          <div class="fn-fl goods-img">
            <img src="/statics/img/pages/2017/1212/goods/236.jpg">
          </div>
          <div class="fn-fl goods-info">
            <h3 class="title">施华洛世奇银色天鹅耳钉</h3>
            <p class="market">市场价：￥965</p>
            <p class="price"><span class="live">存￥<em>8,750</em></span><span class="old">￥10,875</span></p>
          </div>
          <img src="/statics/img/pages/2017/1212/buy-btn.png" class="fn-fr buy-btn" data-id="236">
        </li>
        <li>
          <div class="fn-fl goods-img">
            <img src="/statics/img/pages/2017/1212/goods/238.jpg">
          </div>
          <div class="fn-fl goods-info">
            <h3 class="title">施华洛世奇金色天鹅耳钉</h3>
            <p class="market">市场价：￥898</p>
            <p class="price"><span class="live">存￥<em>8,125</em></span><span class="old">￥10,125</span></p>
          </div>
          <img src="/statics/img/pages/2017/1212/buy-btn.png" class="fn-fr buy-btn" data-id="238">
        </li>
        <li>
          <div class="fn-fl goods-img">
            <img src="/statics/img/pages/2017/1212/goods/176.jpg">
          </div>
          <div class="fn-fl goods-info">
            <h3 class="title">资生堂新透白美肌集光祛斑精华液</h3>
            <p class="market">市场价：￥880</p>
            <p class="price"><span class="live">存￥<em>8,750</em></span><span class="old">￥11,000</span></p>
          </div>
          <img src="/statics/img/pages/2017/1212/buy-btn.png" class="fn-fr buy-btn" data-id="176">
        </li>
      </ul>
      <ul class="goods-list hide" title="1万以上投资区">
        <li>
          <div class="fn-fl goods-img">
            <img src="/statics/img/pages/2017/1212/goods/172.jpg">
          </div>
          <div class="fn-fl goods-info">
            <h3 class="title">雅诗兰黛红石榴护肤套装</h3>
            <p class="market">市场价：￥1,880</p>
            <p class="price"><span class="live">存￥<em>16,000</em></span><span class="old">￥20,000</span></p>
          </div>
          <img src="/statics/img/pages/2017/1212/buy-btn.png" class="fn-fr buy-btn" data-id="172">
        </li>
        <li>
          <div class="fn-fl goods-img">
            <img src="/statics/img/pages/2017/1212/goods/133.jpg">
          </div>
          <div class="fn-fl goods-info">
            <h3 class="title">福玛特拖地吸尘一体扫地机</h3>
            <p class="market">市场价：￥2,680</p>
            <p class="price"><span class="live">存￥<em>25,000</em></span><span class="old">￥32,500</span></p>
          </div>
          <img src="/statics/img/pages/2017/1212/buy-btn.png" class="fn-fr buy-btn" data-id="133">
        </li>
        <li>
          <div class="fn-fl goods-img">
            <img src="/statics/img/pages/2017/1212/goods/233.jpg">
          </div>
          <div class="fn-fl goods-info">
            <h3 class="title">德国LOEWE铝质蓝牙音响Speaker2go黑色</h3>
            <p class="market">市场价：￥1,798</p>
            <p class="price"><span class="live">存￥<em>15,000</em></span><span class="old">￥19,000</span></p>
          </div>
          <img src="/statics/img/pages/2017/1212/buy-btn.png" class="fn-fr buy-btn" data-id="233">
        </li>
        <li>
          <div class="fn-fl goods-img">
            <img src="/statics/img/pages/2017/1212/goods/76.jpg">
          </div>
          <div class="fn-fl goods-info">
            <h3 class="title">iPhone8 plus 256G</h3>
            <p class="market">市场价：￥7,988</p>
            <p class="price"><span class="live">存￥<em>97,350</em></span><span class="old">￥99,850</span></p>
          </div>
          <img src="/statics/img/pages/2017/1212/buy-btn.png" class="fn-fr buy-btn" data-id="76">
        </li>
      </ul>
    </div>
  </div>
  <div class="business-wrap">
    <div class="bd">
      <img src="/statics/img/pages/2017/1212/business-bd.png">
    </div>
  </div>
  <span class="pos-abs rule-btn" id="ruleBtn"></span>
  <span class="pos-fixed draw-btn" id="drawBtn"></span>

  <script src="/statics/js/plugins/sea.js"></script>
  <script src="/statics/js/plugins/seajs-css.js"></script>
  <script src="/statics/js/common/sea-config.js"></script>
  <script>
    seajs.use("/statics/js/pages/2017/1212/index.js");
  </script>
</body>
</html>
