<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>活动规则</title>
  <link rel="stylesheet" href="/statics/css/pages/2017/1212/rule.css">
  <script src="/statics/js/plugins/adaptive.min.js"></script>
  <script src="/statics/js/common/common.js"></script>
</head>
<body>

  <div class="rule-box">
    <p>1、活动时间：12月9日-12月15日</p>
    <p>2、活动期间，多种面额生活券可领取，领取后可直接用于理财生活圈的项目投资中，可直接抵扣相应投资额；同一面额生活券每个账户最多可领取3张；</p>
    <p>3、精选好物限时让利，用更少的投资额就能领走最心仪的物品；</p>
    <p>4、活动期间，单笔理财生活圈项目投资金额达5000元，即可获得赠品藤条香熏一个，每个账户最多可获得1个；</p>
    <p>5、活动期间，每完成一次理财生活圈的项目购买，即可获得一次抽奖机会；</p>
    <p>6、抽奖获得的红包及生活券将即时发放至账户券包；实物奖品，将在活动结束后20个工作日内发放；若活动结束3个工作日未填写收货地址，将视为自动放弃礼品；若因地址填写错误导致礼品无法送达、或用户自己拒收礼品，我们将不再补发。</p>
  </div>
  <p class="text-center copyRight">*钱保姆保留对本次活动在法律允许范围内的解释权</p>

  <script src="/statics/js/plugins/sea.js"></script>
  <script src="/statics/js/plugins/seajs-css.js"></script>
  <script src="/statics/js/common/sea-config.js"></script>
  <script>
    seajs.use("/statics/js/pages/2017/1212/rule.js");
  </script>
</body>
</html>
