<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>会员权益</title>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<link rel="stylesheet" href="/statics/css/pages/2018/vipEquities/explain.css">
	<script src="/statics/js/plugins/adaptive.min.js"></script>
	<script src="/statics/js/common/common.js"></script>
</head>

<body>
	<div class="container">
		<div class="top">
			<img data-src="/statics/img/pages/2018/vipEquities/explain/" alt="">
		</div>
		<div class="content">
			<div class="jrgh">
				<p>1）生日福利</p>
				<p>会员在生日当天可以享受生日福利（需完成实名认证）。生日当天将获得生日礼券及专属祝福；</p>
				<p>2）节日关怀</p>
				<p>V4、V5会员可享受节日关怀福利，在中秋节和春节可获得节日定制礼品。</p>
				<img src="/statics/img/pages/2018/vipEquities/explain/jrgh_table.png" alt="">
			</div>
			<div class="mftx">
				<p>1）会员在满足提现额度的前提下，每月可享受一定的免提现次数，等级越高，免提现次数越多；</p>
				<p>2）会员升级，当月免费提现次数即时升至等级对应次数；会员降级，当月免费提现次数即时降至等级对应次数。</p>
				<img src="/statics/img/pages/2018/vipEquities/explain/mftx_table.png" alt="">
			</div>
			<div class="gdlc">
				<p>V1-V5会员可购买高端会员专享的加息标，会员等级越高，加息越高。</p>
				<img src="/statics/img/pages/2018/vipEquities/explain/gdlc_table.png" alt="">
				<a href="javascript:;" id="goFinancing">立即查看加息标>></a>
			</div>
			<div class="zsdz">
				<p>1）V3、V4、V5会员可根据投资需求预约专属定制标；</p>
				<p>2）定制金额需≥30万；</p>
				<p>3）专属定制标加息0.5%，期限3个月起。</p>
			</div>
			<div class="qfh">
				<p>1）钱粉会是高端用户投资俱乐部；</p>
				<p>2）钱粉会会员可享受精彩线下活动、高端旅游定制等服务 。</p>
				<div class="imgBox">
					<img src="/statics/img/pages/2018/vipEquities/explain/qfh_img1.png" alt="">
					<img src="/statics/img/pages/2018/vipEquities/explain/qfh_img2.png" alt="">
					<img src="/statics/img/pages/2018/vipEquities/explain/qfh_img3.png" alt="">
					<img src="/statics/img/pages/2018/vipEquities/explain/qfh_img4.png" alt="">
				</div>
				<!-- <a id="goQfh">立即查看往期钱粉会活动>></a> -->
			</div>
		</div>
	</div>
</body>
<script src="/statics/js/plugins/sea.js"></script>
<script src="/statics/js/plugins/seajs-css.js"></script>
<script src="/statics/js/common/sea-config.js"></script>
<script>
	seajs.use("/statics/js/pages/2018/vipEquities/explain.js");
</script>

</html>