<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>会员权益</title>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<link rel="stylesheet" href="/statics/css/pages/2018/vipEquities/index.css">
	<script src="/statics/js/plugins/adaptive.min.js"></script>
	<script src="/statics/js/common/common.js"></script>
</head>

<body>
	<div class="container">
		<div class="tip">
			资产总额大于0元，可升级成为会员
		</div>
		<div class="top">
			<div class="userInfo">
				<div class="user"><img src="/statics/img/pages/2018/vipEquities/defaultIcon.png" class="userIcon" alt=""> <span></span><img id="vipLevel" src="/statics/img/pages/2018/vipEquities/v0.png" alt=""></div>
				<div class="account">资产总额(元) <span>0.00</span></div>
			</div>
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide swiper-slide-center none-effect">
						<img src="/statics/img/pages/2018/vipEquities/v0_card.png">
					</div>
					<div class="swiper-slide">
						<img src="/statics/img/pages/2018/vipEquities/v1_card.png">
					</div>
					<div class="swiper-slide">
						<img src="/statics/img/pages/2018/vipEquities/v2_card.png">
					</div>
					<div class="swiper-slide">
						<img src="/statics/img/pages/2018/vipEquities/v3_card.png">
					</div>
					<div class="swiper-slide">
						<img src="/statics/img/pages/2018/vipEquities/v4_card.png">
					</div>
					<div class="swiper-slide">
						<img src="/statics/img/pages/2018/vipEquities/v5_card.png">
					</div>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="item" data-index='1' data-type='jrgh'>
				<div class="imgBox">
					<img src="/statics/img/pages/2018/vipEquities/right1.png" alt="">
				</div>
				<div class="textBox">
					<p class="_title">
						节日关怀
					</p>
					<p class="_text">
						红包+生活券
					</p>
				</div>
			</div>
			<div class="item" data-index='2' data-type='mftx'>
				<div class="imgBox">
					<img src="/statics/img/pages/2018/vipEquities/right2.png" alt="">
				</div>
				<div class="textBox">
					<p class="_title">
						免费提现次数
					</p>
					<p class="_text">
						当前等级：2次
					</p>
				</div>
			</div>
			<div class="item close" data-index='3' data-type='gdlc'>
				<div class="imgBox">
					<img src="/statics/img/pages/2018/vipEquities/right3.png" alt="">
				</div>
				<div class="textBox">
					<p class="_title">
						高端会员专享
					</p>
					<p class="_text">
						加息：+0.1%
					</p>
				</div>
				<div class="closeText">
					升级至V1开启
				</div>
			</div>
			<div class="item close" data-index='4' data-type='qfh'>
				<div class="imgBox">
					<img src="/statics/img/pages/2018/vipEquities/right4.png" alt="">
				</div>
				<div class="textBox">
					<p class="_title">
						钱粉会
					</p>
					<p class="_text">
						线下活动、高端旅游等服务
					</p>
				</div>
				<div class="closeText">
					升级至V3开启
				</div>
			</div>
			<div class="item close" data-index='5' data-type='zsdz'>
				<div class="imgBox">
					<img src="/statics/img/pages/2018/vipEquities/right5.png" alt="">
				</div>
				<div class="textBox">
					<p class="_title">
						专属定制
					</p>
					<p class="_text">
						定制专属标
					</p>
				</div>
				<div class="closeText">
					升级至V3开启
				</div>
			</div>
			<div class="item closing" data-index='6'>
				<div class="imgBox">
					<img src="/statics/img/pages/2018/vipEquities/right6_close.png" alt="">
				</div>
				<div class="textBox">
					<p class="_title">
						超级经纪人权益
					</p>
				</div>
				<div class="closeText">
					敬请期待
				</div>
			</div>
			<div class="item closing" data-index='7'>
				<div class="imgBox">
					<img src="/statics/img/pages/2018/vipEquities/right7_close.png" alt="">
				</div>
				<div class="textBox">
					<p class="_title">
						会员积分翻倍特权
					</p>
				</div>
				<div class="closeText">
					敬请期待
				</div>
			</div>
			<div class="item closing" data-index='8'>
				<div class="imgBox">
					<img src="/statics/img/pages/2018/vipEquities/right8_close.png" alt="">
				</div>
				<div class="textBox">
					<p class="_title">
						会员专区积分兑换特权
					</p>
				</div>
				<div class="closeText">
					敬请期待
				</div>
			</div>
		</div>
	</div>
</body>
<script src="/statics/js/plugins/sea.js"></script>
<script src="/statics/js/plugins/seajs-css.js"></script>
<script src="/statics/js/common/sea-config.js"></script>
<script>
	seajs.use("/statics/js/pages/2018/vipEquities/index.js");
</script>

</html>