<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<link rel="stylesheet" href="/statics/css/common/reset.css">
	<link rel="stylesheet" href="/statics/css/pages/2017/superAgent/index.css">
	<script src="/statics/js/plugins/adaptive.min.js"></script>
	<script src="/statics/js/common/common.js"></script>
	<title>超级经纪人</title>
</head>

<body>
	<div class="banner pos-rel">
		<div class="ruleBtn text-center pos-abs">规则说明</div>
		<div class="data text-center pos-abs">
			<span class="people"><em>0</em>人</span>
			<span class="money"><em>0</em>元</span>
		</div>
		<div class="gitBox pos-abs">
			<a class="tip" href="#tips1"><img class="tipImg" src="/statics/img/pages/2017/superAgent/tip1.png" /></a>
			<a class="tip" href="#tips2"><img class="tipImg" src="/statics/img/pages/2017/superAgent/tip2.png" /></a>
			<a class="tip" href="#tips3"><img class="tipImg" src="/statics/img/pages/2017/superAgent/tip3.png" /></a>
			<a class="tip" href="#tips4"><img class="tipImg" src="/statics/img/pages/2017/superAgent/tip4.png" /></a>
		</div>
		<div class="text-center invBtn pos-abs"></div>
	</div>
	<div class="container text-center pos-rel">
		<img class="tips1" id="tips1" src="/statics/img/pages/2017/superAgent/tips1.png" alt="">
		<img class="tips2" id="tips2" src="/statics/img/pages/2017/superAgent/tips2.png" alt="">
		<img class="tips3" id="tips3" src="/statics/img/pages/2017/superAgent/tips3.png" alt="">
		<img class="tips4" id="tips4" src="/statics/img/pages/2017/superAgent/tips4.png" alt="">
	</div>
	<script src="/statics/js/plugins/sea.js"></script>
	<script src="/statics/js/plugins/seajs-css.js"></script>
	<script src="/statics/js/common/sea-config.js"></script>
	<script>
		seajs.use("/statics/js/pages/2017/superAgent/index.js");
	</script>
</body>

</html>
