<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<link rel="stylesheet" href="/statics/css/common/reset.css">
	<link rel="stylesheet" href="/statics/css/pages/2017/superAgent/rule.css">
	<script src="/statics/js/plugins/adaptive.min.js"></script>
	<script src="/statics/js/common/common.js"></script>
	<title>活动规则</title>
</head>

<body>
	<div class="rule-box">
	    <p>1.活动时间：2018年6月5日-2018年6月30日；</p>
	    <p>2.活动期间好友购买标的不可转让，转让标的不参加活动；</p>
	    <p>3.若钱小宝邀请了3名好友，好友1首投了网益宝，好友2首投了新手体验标，则好友首投年化交易总额=好友1首投年化投资额*期限/12+好友2首投年化投资额*期限/365；</p>
	    <p>4.活动期间，为了方便参加活动的钱粉们，我们将开启VIP用户尊享约标服务。如需一次性投资10万元以上，可拨打客服热线400-006-7066定制专属标；</p>
	    <p>5.首投红包即时到账，其他奖励红包均在活动结束后3个工作日内发放；</p>
	    <p>6.实物奖品和旅游金奖励将在活动结束后20个工作日内发放，获奖者请及时填写收货地址等相关信息，自活动结束后3日内无法取得联系视为自动放弃；</p>
	    <p>7.本次活动采用最新实时数据监控系统，如发现恶意刷奖行为，将在48小时内予以警告，若系统再次检测到恶意刷奖行为将自动取消活动资格及奖励；</p>
	    <p>8.本次活动奖励不与平台其他邀请活动共享；</p>
	    <p>9.本活动所有奖品由钱保姆提供，与设备生产商Apple Inc.无关。</p>
	</div>
	<p class="text-center copyRight">*钱保姆保留对本次活动在法律允许范围内的最终解释权</p>
	<script src="/statics/js/plugins/sea.js"></script>
	<script src="/statics/js/plugins/seajs-css.js"></script>
	<script src="/statics/js/common/sea-config.js"></script>
	<script>
		seajs.use("/statics/js/pages/2017/superAgent/rule.js");
	</script>
</body>

</html>
