<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<link rel="stylesheet" href="/statics/css/common/reset.css">
	<link rel="stylesheet" href="/statics/css/pages/2017/qixi/index.css">
	<script src="/statics/js/plugins/adaptive.min.js"></script>
	<script src="/statics/js/common/common.js"></script>
	<title>钱保姆</title>	
</head>

<body>
	<marquee class="marquee" id="marquee" loop=-1 scrollamount=4></marquee>
	<div class="container" style="">
		<div class="banner"><img src="/statics/img/pages/2017/qixi/bg.jpg" alt=""><a id="rules" class="rules">活动规则</a></div>
		<div class="content tab1">
			<div class="tabbox">
				<div class="tab" data-index='1'>充值即享大礼包</div>
				<div class="tab" data-index='2'>整点抢冈本001 <img src="/statics/img/pages/2017/qixi/hot.png" alt=""></div>
			</div>
			<div class="tabcontent">
				<div class="bagbox">
					<div class="bags">
						<div class="bag">
							<div class="bagbtn disabled" data-type="30">
								<img src="/statics/img/pages/2017/qixi/gift.png" alt="">
								<span>领取</span>
							</div>
							<div class="bagtxt">
								<p>30元礼包</p>
								<p>充值5000元</p>
							</div>
						</div>
						<div class="bag">
							<div class="bagbtn disabled" data-type="77">
								<img src="/statics/img/pages/2017/qixi/gift.png" alt="">
								<span>领取</span>
							</div>
							<div class="bagtxt">
								<p>77元礼包</p>
								<p>充值10000元</p>
							</div>
						</div>
						<div class="bag">
							<div class="bagbtn disabled" data-type="500">
								<img src="/statics/img/pages/2017/qixi/gift.png" alt="">
								<span>领取</span>
							</div>
							<div class="bagtxt">
								<p>500元礼包</p>
								<p>充值50000元</p>
							</div>
						</div>
						<div class="bag">
							<div class="bagbtn disabled" data-type="888">
								<img src="/statics/img/pages/2017/qixi/gift.png" alt="">
								<span>领取</span>
							</div>
							<div class="bagtxt">
								<p>888元礼包</p>
								<p>充值10万元</p>
							</div>
						</div>
						<div class="bag">
							<div class="bagbtn disabled" data-type="1600">
								<img src="/statics/img/pages/2017/qixi/gift.png" alt="">
								<span>领取</span>
							</div>
							<div class="bagtxt">
								<p>1600元礼包</p>
								<p>充值30万元</p>
							</div>
						</div>
						<div class="bag">
							<div class="bagbtn disabled" data-type="3000">
								<img src="/statics/img/pages/2017/qixi/gift.png" alt="">
								<span>领取</span>
							</div>
							<div class="bagtxt">
								<p>3000元礼包</p>
								<p>充值50万元</p>
							</div>
						</div>
					</div>
					<div class="bagtig">
						<p><span>领取步骤:</span>完成充值任务 → 领取心仪礼包 → 红包到账；</p>
						<p>每个用户限领取3个礼包。</p>
					</div>
				</div>
				<div class="giftbox">
					<p class="_title">
						整点抢
					</p>
					<p class="_text">
						活动期间每天 <b>10：00、15：00、21：00</b> 整点抢购<b>“七夕活动专享标”</b>单笔满1000元即可获得价值109元<b>“冈本001超薄安全套”</b>
					</p>
					<img src="/statics/img/pages/2017/qixi/001.png" alt="">
					<a href="javascript:void 0;" id="goAppFinancing"><img src="/statics/img/pages/2017/qixi/touzi.png" alt=""></a>
				</div>
			</div>
		</div>
		<div class="_777gift">
			<div class="_top">
				<img src="/statics/img/pages/2017/qixi/777.png" alt="">
				<span class="progress">
					<span class="line">
						<span class="_line"></span>
						<span class="_ball"></span>
					</span>
				</span>
				<p id="redBagNum">当前红包领取值：0</p>
			</div>
			<div class="_text">
				<p>每有777个礼包被领取，即抽取1名幸运钱粉，获得价值8000元TESiRO钻戒一枚。</p>
				<div class="lucky">您当前幸运值：<span id="luckyVal">0</span></div>
				<p>充值金额每满1000元，幸运值+1</p>
			</div>
		</div>
	</div>
	<script src="/statics/js/plugins/sea.js"></script>
	<script src="/statics/js/plugins/seajs-css.js"></script>
	<script src="/statics/js/common/sea-config.js"></script>
	<script>
		seajs.use("/statics/js/pages/2017/qixi/index.js");
	</script>
</body>

</html>