@charset "utf-8";
/*reset*/
*,
*:before,
*:after {
	margin: 0;
	padding:0;
	border:none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
 
/*end*/
body {
	font-family: 'Microsoft YaHei','Helvetica'!important;
	-webkit-font-smoothing: antialiased;
	/* overflow:hidden; */
}

.vertical-center-modal{
	display: flex;
	align-items: center;
	justify-content: center;
	.ivu-modal{
		top: 0;
	}
}

.txt-red {
	color: red;
}